{% extends 'learning_logs/base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock title %}</title>
        <link href="{% static "css/learning_logs/topic.css" %}" rel="stylesheet" type="text/css">
    </head>
<body>
    <ul class="list">
        <li class="list__item"><p class="list__item__paragraph-1">Тема: {{ topic }}</p></li>
        <hr class="line" size=2px width=1920px color="#666666">
        <li class="list__item"><p class="list__item__paragraph">Записи:</p></li>
        <p class="list__item__paragraph">
            <form action="{% url 'learning_logs:new_entry' topic.id %}" method="GET">
                <button class='button'>Добавьте новую запись темы:</button>
            </form>
        </p>
        <ul class="list">
            {% for entry in entries %}
                <li>
                    <li class="list__item"><p class="list__item__paragraph">{{ entry.date_added|date:'M d, Y H:i' }}</p></li>
                    <hr class="line" size=2px width=1920px color="#666666">
                    <li class="list__item"><p class="list__item__paragraph">{{ entry.text|linebreaks }}</p></li>
                    <p class="list__item__paragraph">
                        <form action="{% url 'learning_logs:edit_entry' entry.id %}" method="GET">
                            <button class='button'>Изменить запись:</button>
                        </form>
                    </p>
                </li>
            {% empty %}
                <p class="list__item__paragraph">В этой теме пока нет записей.</p>
            {% endfor %}
        </ul>
    </ul>
</body>
</html>
{% endblock content %}