@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


.theme {
    width: 1920px;
    height: 90px;
    background: #e7ffe2;
    display: flex;
    text-align: center;
    padding-left: 35px;
    padding-top: 35px;
    color: rgb(77, 77, 77);
    font-family: 'Lobster', cursive;
}

.theme__list__link {
    font-size: 22px;
    font-family: 'Kanit', sans-serif;
    color: rgb(0, 0, 0);
}

.button {
    background: #747373;
	padding: 9px 22px;
    color: #e7ffe2;
    border: none;
}

.button:hover {
	background: #C29974;
	cursor: pointer;
    color: black;
}
